BasedOnStyle: LLVM
IndentWidth: 8
UseTab: ForIndentation
TabWidth: 8
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: MultiLine
  AfterStruct: false
  AfterEnum: false
  AfterUnion: false
  BeforeElse: false
  BeforeCatch: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
AlignAfterOpenBracket: AlwaysBreak
ContinuationIndentWidth: 8
WhitespaceSensitiveMacros: [NDX_LISTENER, NDX_DEF, NDX_DECL, NDX_HOOK_DECL]
ColumnLimit: 80
Cpp11BracedListStyle: false
SortIncludes: Never
SpaceBeforeParens: ControlStatements
BinPackParameters: false
BinPackArguments: false
