/node_modules/
/.deno/
/var
/htdocs/*
*.so
*.o
*.d
*.swp
/deno.lock
/.cache
/target/
/etc
/home
/lib
/lib64
/users
/usr
/mods/song/lib/transp/test_transp
/mods/song/lib/transp/libtransp.a
*.wasm

# Exceptions for htdocs
!/htdocs/bud-client.js
!/htdocs/bud-hydrate.js
!/htdocs/styles.css
/external/*/bin
/external/*/lib
tests/unit/mpfd_contract_test
.opencode
/.pi/*
!/.pi/extensions
!/.pi/prompts
!/.pi/settings.json
!/.pi/lsp.json
!/.pi/skills
/build
/debug
*.zip
/compile_commands.json
