[submodule "external/hyle"]
	path = external/hyle
	url = git@github.com:tty-pt/hyle.git
[submodule "external/libqmap"]
	path = external/libqmap
	url = git@github.com:tty-pt/libqmap.git
[submodule "external/libndx"]
	path = external/libndx
	url = git@github.com:tty-pt/libndx.git
[submodule "external/mk"]
	path = external/mk
	url = git@github.com:tty-pt/mk.git
[submodule "external/axil"]
	path = external/axil
	url = git@github.com:tty-pt/axil.git
[submodule "external/axil-auth"]
	path = external/axil-auth
	url = git@github.com:tty-pt/axil-auth.git
