/node_modules/
/.deno/
/items
/htdocs/*
*.so
*.o
*.swp
/deno.lock
/.cache
/mods/ssr/rust-renderer/target
/mods/*/client/target
/mods/*/ssr/target
/target/
/etc
/home
/lib
/lib64
/users
/usr
/mods/song/lib/transp/test_transp
/mods/song/lib/transp/libtransp.a
/mods/client/target
/mods/client/htdocs
*.wasm

# Exceptions for htdocs
!/htdocs/styles.css
!/htdocs/song-client.js
